/koodi/viikko2/RiippuvuuksienInjektointi1/build/
/koodi/viikko2/NhlStatistics1/.nb-gradle/
/koodi/viikko2/NhlStatistics1/build/
*.tmp
/koodi/viikko2/Verkkokauppa1/build/
/koodi/viikko2/Verkkokauppa1/.nb-gradle/
/koodi/viikko2/Verkkokauppa1Annotaatiot/.nb-gradle/
/koodi/viikko2/Verkkokauppa1Annotaatiot/build/
/koodi/viikko3/HelloCucumber/build/
/koodi/viikko3/HelloCucumber/.nb-gradle/
/koodi/viikko3/LoginCucumber/.nb-gradle/
/koodi/viikko3/LoginCucumber/build/

/koodi/viikko4/TyhjaProjekti/.nb-gradle/
/koodi/viikko4/TyhjaProjekti/build/
/koodi/viikko4/WebLogin/.nb-gradle/
/koodi/viikko5/VerkkokauppaSpring/.nb-gradle/
/koodi/viikko5/VerkkokauppaSpring/build/
/koodi/viikko5/IntJoukkoSovellus/.nb-gradle/
/koodi/viikko5/IntJoukkoSovellus/build/
/koodi/viikko5/Tennis/.nb-gradle/
/koodi/viikko5/Tennis/build/

koodi/viikko5/IntJoukkoSovellus/.gradle/
koodi/viikko5/MatkakorttiMockito/.gradle/
koodi/viikko5/MatkakorttiMockito/build/
koodi/viikko5/MockitoDemo/.gradle/
koodi/viikko5/MockitoDemo/build/
koodi/viikko5/Tennis/.gradle/
koodi/viikko5/VerkkokauppaSpring/.gradle/
koodi/viikko5/VerkkokauppaSpring/nbproject/

/koodi/viikko6/Laskin/.nb-gradle/
/koodi/viikko6/Laskin/build/
/koodi/viikko6/Laskin/.gradle/
/koodi/viikko6/QueryLanguage/.nb-gradle/
/koodi/viikko6/QueryLanguage/build/
/koodi/viikko6/QueryLanguage/.gradle/

koodi/viikko7/KiviPaperiSakset/.gradle/
