/koodi/viikko2/RiippuvuuksienInjektointi1/build/
/koodi/viikko2/NhlStatistics1/.nb-gradle/
/koodi/viikko2/NhlStatistics1/build/
/koodi/viikko2/Verkkokauppa1/build/

/koodi/viikko2/Verkkokauppa1/.gradle/
/koodi/viikko2/NhlStatistics1/.gradle/
/HelloGradle/.gradle/
/HelloGradle/.nb-gradle/
/HelloGradle/build/

