<h1>Ohtu Application main page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus lectus in dolor consectetur sagittis. Morbi aliquam nunc eu volutpat scelerisque. Aenean a elementum nibh. Aliquam neque mauris, ornare at urna in, sollicitudin tempus diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque a purus efficitur, auctor tortor non, auctor ligula. Ut lorem nibh, sagittis ut diam at, porta viverra neque. Donec placerat libero sed suscipit sollicitudin.</p>

<p><a href="/">logout</a></p>